
* {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .08em;
  font-weight: 300;
  line-height: 1.65;
  font-size: 1.05em;
  text-align: center;
}

body{
background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  object-fit: contain;
  height: 250px; 
  display: block;
  margin: 30px auto 0;
}


.about {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 700;
  text-transform: lowercase;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

.itemName, .itemName:hover {
  color: #ffffff;
  font-size: .95em;
  text-decoration: none;
}

.itemPrice {
  text-decoration: none;
  color: #ffffff;
  font-size: .95em;
}


.total {
  color: #ffffff;
  font-size: 1.2em;
  text-transform: lowercase;
  font-weight: 700;
}

.itemPrice:hover {
  cursor: pointer;
  color: #FFB88C;
  font-weight: 700;
}

a.editable-empty {
  color: black;
  font-style: italic;
}

/* -_-_-_-_-_-_-_-_-Inputs-_-_-_-_-_-_-_-_-_- */
.itemInput:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.priceInput:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.itemInput[type="text"], .priceInput[type="text"]{
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    width:210px;
    color: #ffffff;
    cursor:default;
    text-align: left; 
    border: 0;
    outline: 0;
    border-bottom: 3px solid white;
    font-size: .95em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .3em;
    font-weight: 300;
}

.itemInput[type="text"]{
    text-indent: 25px;
}

.priceInput[type="text"]{
    text-indent: 38px;
}

.itemInput:hover, .priceInput:hover {
    border: 1px;
    outline: none;
}

.itemInput::placeholder, .priceInput::placeholder {
  color: white;
}

.itemInput:hover, .priceInput:hover {
  border-bottom: 3px solid #FFB88C;
}

.footer {
  position: relative;
  top: 100px;
}

.closing-tag {
    color: white;
}

.closing-tag:hover {
  color: #FFB88C;
  font-weight: 700;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/* -_-_-_-_-_-_-_-_-Buttons-_-_-_-_-_-_-_-_-_- */

.add-button {
  font-size: 1.1em;
  width: 210px;
}

.delete-button {
  font-size: .9em;
  border: none;
}

.delete-button, .add-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background: transparent;
    border: 1px solid #ffffff;
    height: 2.2em;
    color: #ffffff;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

 .add-button:hover, .add-button:focus, .add-button:active {
    background-color: #FFB88C;
  color: white;
}

.delete-button:hover {
   color: #FFB88C;
   font-weight: 700;
}




/* -_-_-_-_-_-_-_-_-_Responsiveness-_-_-_-_-_-_-_-_-_- */


*:before,
*:after {
  box-sizing: inherit;
}

.grid {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.grid:before,
.grid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.grid:after,
.row:after {
  clear: both;
}

[class*='col-']{
  width: 100%;
  float:left;
  min-height: 1px;
}

.col {
  padding: 1em;
  margin: 8px;
}


/*column width*/


@media screen and (min-width:320px){

.col-S-1 { width: 8.33333%; }

.col-S-2 { width: 16.66667%; }

.col-S-3 { width: 25%; }

.col-S-4 { width: 33.33333%; }

.col-S-5 { width: 41.66667%; }

.col-S-6 { width: 50%; }

.col-S-7 { width: 58.33333%; }

.co-S-8 { width: 66.66667%; }

.col-S-9 { width: 75%; }

.col-S-10 { width: 83.33333%; }

.col-S-11 { width: 91.66667%; }

.col-S-12 { width: 100%;}

}


@media screen and (min-width:640px){

.col-M-1 { width: 8.33333%; }

.col-M-2 { width: 16.66667%; }

.col-M-3 { width: 25%; }

.col-M-4 { width: 33.33333%; }

.col-M-5 { width: 41.66667%; }

.col-M-6 { width: 50%; }

.col-M-7 { width: 58.33333%; }

.col-M-8 { width: 66.66667%; }

.col-M-9 { width: 75%; }

.col-M-10 { width: 83.33333%; }

.col-M-11 { width: 91.66667%; }

.col-M-12 { width: 100% ;}

}

@media screen and (min-width:960px){

.col-L-1 { width: 8.33333%; }

.col-L-2 { width: 16.66667%; }

.col-L-3 { width: 25%; }

.col-L-4 { width: 33.33333%; }

.col-L-5 { width: 41.66667%; }

.col-L-6 { width: 50%; }

.col-L-7 { width: 58.33333%; }

.col-L-8 { width: 66.66667%; }

.col-L-9 { width: 75%; }

.col-L-10 { width: 83.33333%; }

.col-L-11 { width: 91.66667%; }

.col-L-12 { width: 100% ;}

}